{% extends 'base.html' %} {% block title %}Contact - My Flask Site{% endblock %}
{% block content %}
<div class="container py-5">
  <h1 class="text-center mb-5">Subjects we offer</h1>
  <p>
    In Studylog, we offer students with material to learn about for 9 subjects.
    For core subjects, we provide knowledge on Mathematics, English, Science,
    Geography and History. As for the elective subjects, Studylog has gathered
    materials on Coding, Japanese, Chinese and Commerce. Down below are our
    description on each subjects we offer.
  </p>

  <div class="row">
    <section class="row align-items-center mb-5">
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/maths.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="Project 1 screenshot 1"
        />
      </div>
      <div class="col-md-6">
        <h3 class="h5 mt-3 mt-md-0">Mathematics</h3>
        <p>
          This website provides students with materials on a rage of different
          math topics. For stage 3, we offer worksheets on topics such as
          geometry and division. For stage 4, some topics that we provide are
          linear relationships and introduction to trigonometry. Studylog also
          provides further graph related information and questions for stage 5
          students, and for stage 6, they get advanced trigonometry and past HSC
          paper. With these materials provided, it could support the boost, and
          allow you students to accel in mathematics.
        </p>
      </div>
    </section>
  </div>
</div>
{% endblock %}
