{% extends 'base.html' %} {% block title %}Contact - My Flask Site{% endblock %}
{% block content %}
<div class="container py-5">
  <h1 class="text-center mb-5">Subjects we offer</h1>
  <p>
    In Studylog, we offer students with material to learn about for 9 subjects.
    For core subjects, we provide knowledge on Mathematics, English, Science,
    Geography and History. As for the elective subjects, Studylog has gathered
    materials on Coding, Japanese, Chinese and Commerce. Down below are our
    description on each subjects we offer.
  </p>

  <div class="row">
    <section class="row align-items-center mb-5">
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/maths.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="Project 1 screenshot 1"
        />
      </div>
      <div class="col-md-6">
        <h3 class="h5 mt-3 mt-md-0">Mathematics</h3>
        <p>
          This website provides students with materials on a range of different
          math topics. For stage 3, we offer worksheets on topics such as
          geometry and division. For stage 4, some topics that we provide are
          linear relationships and introduction to trigonometry. Studylog also
          provides further graph related information and questions for stage 5
          students, and for stage 6, they get advanced trigonometry and past HSC
          paper. With these materials provided, it could support the boost, and
          allow you students to accel in mathematics.
        </p>
      </div>
      <div class="col-md-6">
        <h3 class="h5 mt-3 mt-md-0">English</h3>
        <p>
          Studylog's English resources supports students from year 5 to 12 with
          progression in text levels. In year 5, students build comprehension by
          reading "After the Flood", while in year 6, they strengthens grammar
          and figurative skills. Year 7 introduces Shakespeare, year 8 with
          Tempe High School practice exam and year 9 with the story "The
          Monkey's Paw". Year 10 focusses on "Romeo and Juliet" with a dedicated
          workbook and year 11 learners access essay samples. Lastly, year 12
          students obtains Advanced English HSC 2024 paper. Together, these
          resources will guide students step by step toward stronger analytical
          skills, confident writing, and higher level exam performance.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/eigo.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="English Dictionary"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{{ url_for('static', filename='images/kagaku.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="Flask"
        />
        <h3 class="h5 mt-3">Science</h3>
        <p>
          Our Science resources take students from core basics to senior exam
          preparation. year 5 begins with biology of Glass Animals, year 6
          covering the Periodic Table, and year 7 builds circuit knowledge. Year
          8 explores ecosystems, with year 9 extending practices on circuit
          drawing, and year 10 uses a full 2012 Chemistry past paper. Senior
          students strengthen content with year 11 biology revision and year 12
          with physics HSC 2025 materials.
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="{{ url_for('static', filename='images/shakai.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="World Map"
        />
        <h3 class="h5 mt-3">Geography</h3>
        <p>
          Studylog's Geography pathway develops strong spatial and global
          understanding. Year 5 starts with basic skills, year 6 examines on
          difference Australia and Asia, and year 7 studies floods. Year 8
          focuses on map skills, year 9 revises the water cycle, and year 10
          prepares for the Australian Geography Competition. Year 11 explores
          Asian Geography, while year 12 completes HSC 2025 preparation.
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="{{ url_for('static', filename='images/rekishi.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="Book"
        />
        <h3 class="h5 mt-3">History</h3>
        <p>
          Our History resources builds chronological understanding and
          analytical skills. Year 5 covers Aboriginal and European contact, year
          6 studies on the Australia's Parliament House, and year 7 learns about
          Ancient China. Year 8 investigates the Black Death, year 9 reviews
          Earth's history, and year 10 works through the Australian History
          Competition 2023. Senior students use a year 11 exam sample and year
          12 Modern History HSC 2025 materials.
        </p>
      </div>
  <div class="row">
    <section class="row align-items-center mb-5">
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/coding.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="Project 1 screenshot 1"
        />
      </div>
      <div class="col-md-6">
        <h3 class="h5 mt-3 mt-md-0">Coding</h3>
        <p>
          Studylog's coding resources helps build digital thinking for students from year 7 to year 12. Students begin with learning about PC component terminology and core computer science vocabulary, then move into the HSC Software Engineering website, which leads to CipherForge and game design theory in years 9 and 10. Senior students then focuses on algorithm design in year 11 and full HSC examination preparation in year 12.
        </p>
      </div>
<div class="row">
    <section class="row align-items-center mb-5">
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/japanese.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="Project 1 screenshot 1"
        />
      </div>
      <div class="col-md-6">
        <h3 class="h5 mt-3 mt-md-0">Japanese</h3>
        <p>
          Our Japanese pathway supports steady language growth and exam readiness. First starting off in year with family vocabulary, year 8 then revises with Obento textbook, and year 9 uses N5 sample questions. Year 10 students explores on the topic "school life" through a Western Australia task. In year 11, our recommended resources is the N4 sample questions, leading to year 12's preparation with the 2025 ATAR Japanese Second Language examination.
      </div>
      <div class="col-md-6">
        <h3 class="h5 mt-3 mt-md-0">Chinese</h3>
        <p>
          Chinese resources we offer develops core language skills and HSC readiness. Year 7 begins with a family themed practice assessment, year 8 with describing appearance, and year 9 consolidates pinyin understanding. Year 10 proceeds to focus on vocabulary, while year 11 uses 2024 HSC Beginners exam and transcript papers. Year 12 then progresses to 2025 HSC Continuers exam and transcript papers for further preparation.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/chinese.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="English Dictionary"
        />
      </div>
      <div class="col-md-6">
        <h3 class="h5 mt-3 mt-md-0">Commerce</h3>
        <p>
          Studylog's commerce materials mainly builds economic and business understandings. Starting from year 7, we offer an economy quiz. Year 8 then extends into business and economic concepts, and year 9 uses a dedicated textbook. In year 10, we provide materials that focuses on yearly exam revision, and year 11 applies that knowledge through a business review worksheet. Lastly, year 12 can prepare with the 2025 HSC Business Studies examination.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="{{ url_for('static', filename='images/commerce.jpg') }}"
          class="img-fluid rounded shadow-sm"
          alt="English Dictionary"
        />
      </div>
    </section>
  </div>
</div>
{% endblock %}
